<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Email Verification</title>
  </head>
  <body>
    <p>Please click button below to verify your email.</p>
    <a
      href="{{link}}"
      target="_blank"
      style="
        padding: 12px 24px;
        border-radius: 4px;
        color: #fff;
        background: #2b52f5;
        display: inline-block;
        margin: 0.5rem 0;
      "
      >Verify My Email</a
    >
    <p>If you didn’t ask to verify this address, you can ignore this email.</p>
    <p>Thanks, Purwadhika</p>
    <footer style="color: #999999">Copyright Purwadhika Team</footer>
  </body>
</html>
